.blog-container {
  padding-top: 15px;

  article {
    @include breakpoint(small down){
      margin-bottom: 30px;
    }
  }

}

.readmore {
  font-size: 14px;
  text-align: right;
}

.blog_return {
  text-align: center;
  border: 2px solid black;
  background: transparent;
  padding: 15px 35px;
  transition: all 255ms ease-out;
  margin: 40px 0;

  &:hover {
    background: $black-shade;
  }

}