.hk_footer {

  border-top: 1px solid rgba(255,255,255,.5);
  background-color: $black-shade;

  .hk_footer_menu {

    text-align: center;
    margin: 0;
    padding: 20px 0;

    li {
      display: inline-block;
      position: relative;
      padding: 0 5px;
    }

    ul {
      position: absolute;
      top: 100%;
      left: 0;
      li {
        display: block;
      }
    }

    a {
      font-size: 18px;
    }


  }

}