
.front-page {

  div.menu {

    position: absolute;
    top: 340px;
    right: 55px;
    text-align: right;
    z-index: 2;

    @include breakpoint(xlarge up){
      position: absolute;
      top: 430px;
      left: 465px;
      text-align: left;
      z-index: 2;
      right: initial;
    }

    a {
      padding: 0;
      margin: 0;
      line-height: 1.5;
    }

    .sub-menu {
      margin: 10px 8px 10px 0;
      padding: 0px 15px 7px 0px;
      border-right: 1px solid rgba(255, 255, 255, 0.38);
      a {
        font-size: 14px;
      }

      @include breakpoint(xlarge up) {
        margin: 10px 0 10px 8px;
        padding: 0px 0 7px 15px;
        border-left: 1px solid rgba(255,255,255,0.38);
        border-right: none;
      }

      @include breakpoint(small down) {
        margin: 10px 0 10px 8px;
        padding: 0px 0 7px 15px;
        border-left: 1px solid rgba(255,255,255,0.38);
        border-right: none;
      }

    }

    li {
      display: block;
      list-style-type: none;
      margin: 0;
    }

    @include breakpoint(small down) {
      top: auto;
      right: auto;
      bottom: 45px;
      left: 25px;
      text-align: left;

      ul {
        border-top: none;
      }

      .sub-menu {
        //border-top: none;
        margin: 0;
        padding: 0 0 0 15px;
      }

      a {
        line-height: 1.8;
      }

    }

  }

  .bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../svg/body.svg);
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;

    @include breakpoint(small down){
      background-position: top left;
      background-size: cover;
    }

  }

  .title-block {
    background-image: url(../svg/title.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 295px;
    position: absolute;
    right: 30px;
    top: 30px;

    @include breakpoint(small down) {
      right: -3px;
      top: -5px;
    }

    @include breakpoint(xlarge up){
      background-image: url(../svg/title-left-large.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      position: absolute;
      left: 380px;
      top: 30px;
      /* bottom: 60px; */
      opacity: 0.8;
      width: 490px;
      height: 385px;
      /* border: 1px solid white; */
    }

  }

  #footer {
    position: absolute;
    bottom: 0;
    right: 39px;
  }

}