
.front-page {

  .mobile-launch {
    position: absolute;
    bottom: 0;
    left: 29%;
    background: rgba(0, 0, 0, 0.45);
    padding: 8px 20px 28px 20px;
    color: white;

    i {
      font-size: 60px;
    }

    p {
      font-size: 12px;
      margin: 0;
      text-align: center;
    }

  }

  div.menu {

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    @include breakpoint(medium up) {
      top: 340px;
      left: 40px;
    }

    @include breakpoint(xlarge up) {
      position: absolute;
      top: 248px;
      left: 438px;
      text-align: left;
      z-index: 2;
      right: initial;
    }

    a {
      padding: 0;
      margin: 0;
      line-height: 1.5;
    }

    .sub-menu {
      margin: 10px 0 10px 8px;
      padding: 0 0 7px 15px;
      border-left: 1px solid rgba(255, 255, 255, 0.38);
      a {
        font-size: 14px;
      }

      @include breakpoint(xlarge up) {
        margin: 10px 0 10px 8px;
        padding: 0px 0 7px 15px;
        border-left: 1px solid rgba(255, 255, 255, 0.38);
        border-right: none;
      }

      @include breakpoint(small down) {
        margin: 10px 0 10px 8px;
        padding: 0px 0 7px 15px;
        border-left: 1px solid rgba(255, 255, 255, 0.38);
        border-right: none;
      }

    }

    li {
      display: block;
      list-style-type: none;
      margin: 0;

      &.menu-item-76 {
        display: none;
      }

    }

    @include breakpoint(small down) {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: left;
      background: $black-shade-2;
      display: none;

      .inner {
        position: absolute;
        bottom: 30px;
        left: 30px;
      }

      .hk-mobile-hide {
        color: white;
        font-weight: 600;
        line-height: 1;
        border-top: 1px solid white;
        padding-top: 4px;
        margin-top: 13px;
        p {
          margin-bottom: 0;
        }
      }

      ul {
        border-top: none;
      }

      .sub-menu {
        //border-top: none;
        margin: 0;
        padding: 0 0 0 15px;
      }

      a {
        line-height: 1.8;
      }

    }

  }

  .bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../svg/body.svg);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

    @include breakpoint(small down) {
      background-position: top left;
      background-size: cover;
    }

  }

  .title-block {
    background-image: url(../svg/title-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 295px;
    position: absolute;
    left: 30px;
    top: 30px;

    @include breakpoint(small down) {
      left: 0;
      top: 20px;
      right: -14px;
      width: auto;
      background-position: top left;
    }

    @include breakpoint(xlarge up) {
      background-image: url(../svg/title-left-large.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      position: absolute;
      left: 160px;
      top: 67px;
      /* bottom: 60px; */
      opacity: 0.8;
      width: 440px;
      height: 345px;
      /* border: 1px solid white; */
    }

  }

  #footer {
    position: absolute;
    bottom: 0;
    right: 39px;
  }

}