.hk_header {

  position: relative;
  z-index: 3;
  margin: 20px auto;
  transition: all 250ms ease-out;

  .column {
    position: relative;
  }

  &.active {
    background-color: $black-shade;
  }

  @include breakpoint(large up){
    margin: 35px auto;
  }

  @include breakpoint(small down) {
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .header_logo {
    width: 200px;
    display: inline-block;
    position: relative;

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    @include breakpoint(medium only){
      display: block;
      margin: 20px auto;
    }

  }

  .hk_header_menu {

    position: absolute;
    right: 15px;
    bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;

    @include breakpoint(medium only){

      position: relative;
      text-align: center;
      margin: 0;

      & li {
        text-align: left;
      }


    }


    & > li {
      padding-left: 15px;
      &:first-of-type {
        padding: 0;
      }
    }

    li {
      display: inline-block;
      position: relative;
    }

    ul {
      position: absolute;
      display: none;
      top: calc(100% + 1px);
      left: 0;
      margin: 0;
      width: 250px;
      background: rgba(0, 0, 0, .8);
      padding: 20px 15px 5px;
      border: 1px solid black;
      border-top: none;
      li {
        display: block;
      }
    }

    a {
      font-weight: 100;
      font-size: 18px;
      display: block;
      line-height: 1.2;
      margin-bottom: 5px;
    }

  }

  .mobile-menu-launch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 110px;
    text-align: center;
    cursor: pointer;
  }

  i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 43px;
    margin: 0;
    position: relative;
    top: 32px;
  }

}

.mobile-menu-container {

  margin-bottom: 30px;

  .hk_header_menu {
    display: none;
    position: relative;
    z-index: 2;

  }

  ul {
    margin: 0;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 10px 15px;
    background: $black-shade;
    border-bottom: 1px solid black;
    font-size: 20px;
    text-align: center;
  }

  .sub-menu a {
    font-size: 90%;
  }

}